@font-face {font-family: "Super Mario 256"; src: url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot"); src: url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff") format("woff"), url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.svg#Super Mario 256") format("svg"); }

.fixed-background {
  font-family: 'Super Mario 256';
  color: red;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-text-stroke: 4px black;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.keyboardParent {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.keyboard {
  margin-left: 80px;
  width: 25%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.character {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 12vh;
  height: 12vh;
  border: red solid 2px;
  border-radius: 24px;
  margin: 8px;
  background-color: ghostwhite;
}

.action-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 42vh;
  height: 12vh;
  border: red solid 2px;
  border-radius: 18px;
  margin: 8px;
  background-color: ghostwhite;
}

.time-setup {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 42vh;
  height: 12vh;
  border: red solid 2px;
  border-radius: 18px;
  margin: 8px;
  background-color: ghostwhite;
}

.time-setup-title {
  font-size: 5vh;
  margin-bottom: -12px;
}